[submodule "vendor/Flask-SocketIO"]
	path = vendor/Flask-SocketIO
	url = https://github.com/miguelgrinberg/Flask-SocketIO.git
[submodule "vendor/click"]
	path = vendor/click
	url = https://github.com/pallets/click.git
[submodule "vendor/eventlet"]
	path = vendor/eventlet
	url = https://github.com/eventlet/eventlet.git
[submodule "vendor/flask"]
	path = vendor/flask
	url = https://github.com/pallets/flask.git
[submodule "vendor/greenlet"]
	path = vendor/greenlet
	url = https://github.com/python-greenlet/greenlet.git
[submodule "vendor/itsdangerous"]
	path = vendor/itsdangerous
	url = https://github.com/pallets/itsdangerous.git
[submodule "vendor/jinja"]
	path = vendor/jinja
	url = https://github.com/pallets/jinja.git
[submodule "vendor/markupsafe"]
	path = vendor/markupsafe
	url = https://github.com/pallets/markupsafe.git
[submodule "vendor/python-engineio"]
	path = vendor/python-engineio
	url = https://github.com/miguelgrinberg/python-engineio.git
[submodule "vendor/python-fire"]
	path = vendor/python-fire
	url = https://github.com/google/python-fire.git
[submodule "vendor/python-socketio"]
	path = vendor/python-socketio
	url = https://github.com/miguelgrinberg/python-socketio.git
[submodule "vendor/werkzeug"]
	path = vendor/werkzeug
	url = https://github.com/pallets/werkzeug.git
[submodule "vendor/huey"]
	path = vendor/huey
	url = https://github.com/coleifer/huey.git
[submodule "vendor/enum34"]
	path = vendor/enum34
	url = https://github.com/tagoh/enum34.git
[submodule "vendor/monotonic"]
	path = vendor/monotonic
	url = https://github.com/atdt/monotonic.git
[submodule "vendor/six"]
	path = vendor/six
	url = https://github.com/benjaminp/six.git
[submodule "vendor/peewee"]
	path = vendor/peewee
	url = https://github.com/coleifer/peewee.git
[submodule "vendor/multitasking"]
	path = vendor/multitasking
	url = https://github.com/ranaroussi/multitasking.git
[submodule "vendor/easyprocess"]
	path = vendor/easyprocess
	url = https://github.com/ponty/EasyProcess.git
